*.swp
evergreen_config_generator/build
evergreen_config_generator/dist
*.egg-info
# The credentials files should not be checked in to version control.
.evergreen/auth_aws/aws_e2e_setup.json
.evergreen/auth_aws/creds.json
# The oidc config files are created as needed
.evergreen/orchestration/configs/*/auth-oidc.json
authoidcvenv
authawsvenv
/uri.txt
/results.json
/mongodb
/mongosh
mo-expansion.yml
tmp.json