asn1crypto==1.5.1
click==8.1.7
flask==2.2.5
itsdangerous==2.1.2
Jinja2==3.1.6
MarkupSafe==2.1.4
# Necessary fix for newer OpenSSL versions (see: https://github.com/wbond/oscrypto/issues/78)
git+https://github.com/wbond/oscrypto.git@d5f3437
waitress==3.0.2
Werkzeug==3.0.6
