name: "Tests"

on:
  pull_request:
    branches:
      - "master"
  push:
    branches:
      - "master"

jobs:
  tests:
    name: "Tests"
    runs-on: "ubuntu-20.04"

    strategy:
      matrix:
        mongodb-version:
          - "4.4"
        topology:
          - "server"
          - "replica_set"
          - "sharded_cluster"
        auth:
          - "noauth"
          - "auth"
        ssl:
          - "nossl"
          - "ssl"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"
        with:
          fetch-depth: 2

      - id: setup-mongodb
        name: "Test GitHub Action"
        uses: ./
        with:
          version: ${{ matrix.mongodb-version }}
          topology: ${{ matrix.topology }}
          auth: ${{ matrix.auth }}
          ssl: ${{ matrix.ssl }}

  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
    - uses: pre-commit/action@v3.0.1
